# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
db = client.Dataironhack

In [3]:
db.LabMongo

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Dataironhack'), 'LabMongo')

In [4]:
names = list(db.LabMongo.find({"name":"Babelgum"}, {"_id":0, "name":1}))
names

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
employees = list(db.LabMongo.find(
    {"number_of_employees":{"$gt":5000}},
    {"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(20))
employees[0]

{'name': 'Siemens', 'number_of_employees': 405000}

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [7]:
found = list(db.LabMongo.find(
    {"founded_year":{"$gte":2000, "$lte":2005}}, 
    {"_id":0, "name":1, "founded_year":1}))
found[0]

{'name': 'Wetpaint', 'founded_year': 2005}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [8]:
amount = list(db.LabMongo.find(
    {"$and":[{"ipo.valuation_amount":{"$gt":1000000000}}, 
             {"founded_year":{"$lt":2010}}]}, 
    {"_id":0, "name":1, "ipo":1}))
amount[0]

{'name': 'Facebook',
 'ipo': {'valuation_amount': 104000000000,
  'valuation_currency_code': 'USD',
  'pub_year': 2012,
  'pub_month': 5,
  'pub_day': 18,
  'stock_symbol': 'NASDAQ:FB'}}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [9]:
employees_founded = list(db.LabMongo.find(
    {"$and":[{"number_of_employees":{"$lt":1000}}, 
             {"founded_year":{"$lt":2005}}]}, 
    {"_id":0, "name":1, "number_of_employees":1, "founded_year":1}).sort("number_of_employees",-1).limit(10))
employees_founded

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [10]:
partners = list(db.LabMongo.find(
    {"partners":{"$size":0}}, 
    {"_id":0, "name":1, "partners":1}))
partners[0]

{'name': 'Wetpaint', 'partners': []}

### 7. All the companies that have a null type of value on the `category_code` field.

In [11]:
nulls = list(db.LabMongo.find(
    {"category_code":{"$type":"null"}}, 
    {"_id":0, "name":1, "category_code":1}))
nulls[0]

{'name': 'Collective', 'category_code': None}

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [12]:
emp = list(db.LabMongo.find(
    {"number_of_employees":{"$gte":100, "$lt":1000}}, 
    {"_id":0, "name":1, "number_of_employees":1}))
emp[0]

{'name': 'AdventNet', 'number_of_employees': 600}

### 9. Order all the companies by their IPO price in a descending order.

In [13]:
ipo = list(db.LabMongo.find().sort("IPO",-1))
ipo[0]["name"]

'Wetpaint'

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [14]:
number_emp = list(db.LabMongo.find().sort("number_of_employees",-1).limit(10))
number_emp[0]["number_of_employees"]

405000

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [15]:
second_sem = list(db.LabMongo.find(
    {"founded_month":{"$gt":6, "$lte":12}}, 
    {"_id":0, "name":1, "founded_month":1}).limit(1000))
second_sem[0]

{'name': 'Wetpaint', 'founded_month': 10}

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [16]:
acquisition= list(db.LabMongo.find(
    {"$and":[{"acquisition.price_amount":{"$gt":10000000}}, 
             {"founded_year":{"$lt":2000}}]}, 
    {"_id":0, "name":1, "acquisition.price_amount":1}))
acquisition[0]

{'name': 'Postini', 'acquisition': {'price_amount': 625000000}}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [17]:
acquisition_2010 = list(db.LabMongo.find(
    {"acquisition.acquired_year":{"$gt":2010}}, 
    {"_id":0, "name":1, "acquisition.acquired_year":1}).sort("acquisition.price_amount",-1))
acquisition_2010[0]

{'name': 'T-Mobile', 'acquisition': {'acquired_year': 2011}}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [18]:
f_year = list(db.LabMongo.find(
    {"founded_year":{"$exists":1}}, 
    {"_id":0, "name":1, "founded_year":1}).sort("founded_year",-1))
f_year[0]

{'name': 'Fixya', 'founded_year': 2013}

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [19]:
days = {"founded_day":{"$lte":7, "$gt":0}}
project1 = {"_id":0, "name":1, "founded_day":1}
f_days = list(db.LabMongo.find(days, project1).sort("acquisition.price_amount", -1).limit(10))
f_days

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'BlueLithium', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [20]:
web_emp = {"$and":[{"category_code":"web"}, {"number_of_employees":{"$gt":4000}}]}
project2 = {"_id":0, "name":1, "number_of_employees":1}
web = list(db.LabMongo.find(web_emp, project2).sort("number_of_employees",1))
web[0]

{'name': 'Expedia', 'number_of_employees': 4400}

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [21]:
cur = {"$and":[{"acquisition.price_amount":{"$gt":10000000}}, {"acquisition.price_currency_code":"EUR"}]} 
project3 = {"_id":0, "name":1, "acquisition.price_amount":1, "acquisition.price_currency_code":1}
cur_price = list(db.LabMongo.find(cur, project3))
cur_price[0]

{'name': 'ZYB',
 'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}}

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [24]:
trimester = {"acquisition.acquired_month": {"$lte":3}}
project4 = {"_id":0, "name":1,"acquisition":1}
months_ac = list(db.LabMongo.find(trimester, project4).limit(10))
months_ac[0]

{'name': 'Kyte',
 'acquisition': {'price_amount': None,
  'price_currency_code': 'USD',
  'term_code': None,
  'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
  'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
  'acquired_year': 2011,
  'acquired_month': 1,
  'acquired_day': 31,
  'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [35]:
companies = {"$and":[{"founded_year":{"$gte":2000, "$lte":2010}}, {"acquisition.acquired_year":{"$lt":2011}}]}
project5 = {"_id":0, "name":1,"acquisition":1}
comp = list(db.LabMongo.find(companies, project5))
comp[0]

{'name': 'StumbleUpon',
 'acquisition': {'price_amount': 29000000,
  'price_currency_code': 'USD',
  'term_code': None,
  'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
  'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
  'acquired_year': 2009,
  'acquired_month': 4,
  'acquired_day': None,
  'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}}

### 20. All the companies that have been 'deadpooled' after the third year.